body {
    background-color: #f9f9f9;
}

textarea {
    resize: none;
}

#results a {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}

#results a:hover {
    text-decoration: underline;
}
